{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}
    <h1>Editar categoría</h1>

    <div class = "card shadow col-lg-6">
        <div class = "card-body d-flex flex-column justify-content-start">
        {{ include('categories/_form.html.twig', {'button_label': 'Actualizar'}) }}
        {{ include('categories/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
