{% extends 'base.html.twig' %}

{% block title %}Nueva categoría{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-header">
            <h3 class = "text-primary font-weight-bold">Crear nueva categoría</h3>
        </div>
        <div class="card-body">
            {{ include('categories/_form.html.twig') }}


        </div>
    </div>
{% endblock %}
