<form class="mt-2 p-0 col-lg-3" method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('¿Está seguro de querer eliminar el siguiente item? - Esta funcionalidad puede no funcionar en caso de haber relaciones entre entidades. Como no era un requerimiento no se ha desarrollado el control de esas relaciones.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger text-light col-lg-11 ml-3">Borrar</button>
</form>
