{% extends 'base.html.twig' %}

{% block title %}Editar usuario{% endblock %}

{% block body %}
    <h1>Editar usuario</h1>

    <div class = "card shadow col-lg-6">
        <div class = "card-body d-flex flex-column justify-content-start">

            {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}
            {{ include('user/_delete_form.html.twig') }}

        </div>
    </div>
{% endblock %}