{% extends 'base.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo usuario</h1>

    {{ include('user/_form.html.twig') }}

    <div class = "d-flex flex-column col-lg-2">
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
        <a class = "btn btn-dark mt-1" href="{{ path('app_user_index') }}"><i class = "fa fa-arrow-left"></i> Volver al índice</a>
    </div>
{% endblock %}
